<template>
    <div class="row">
        <div v-if="quotesExceeded" class="alert alert-warning">
            <strong>Warning! </strong>
            <span>Quotes limit exceeded. Please keep the quotes below 10.</span>
            <!-- <button type="button" class="close" data-dismiss="alert"></button> -->
        </div>
        <form>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3 form-group">
                <label>Quote</label>
                <textarea class="form-control" rows="3" v-model="quoteText" type="textarea"></textarea>
            </div>
            <div v-if="!quotesExceeded" class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3 form-group">
                <button @click.prevent="addQuote" class="btn btn-primary">Add Quote</button>
            </div>
            <div v-else class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3 form-group">
                <button @click.prevent="" class="btn btn-danger">Add Quote</button>
            </div>
        </form>
    </div>
</template>


<script>
    import { eventBus } from '../main';
    export default {
        props: ['quotesArray', 'maxQuotes'],

        data: function () {
            return {
                quoteText: '',
                quotesExceeded: false

            };
        },

        methods: {
            addQuote () {
                console.log(this.quotesArray.length);
                if (this.quotesArray.length < this.maxQuotes) {
                    if (this.quoteText.trim()) {
                        this.quotesArray.push(this.quoteText);
                        this.quoteText = '';
                    }
                }
                else {
                    console.log("Exceeded!");
                    this.quotesExceeded = true;
                }
            }
        },

        created() {
            console.log('Created!');
            eventBus.$on('quotesExceeded', (data) => {
                this.quotesExceeded = false;
            });
        },


    }
</script>
