<template>
    <div>
        <p>Quotes:</p>
        <app-quote v-for="(quote, index) in quotesArray" @click.native="removeQuote(index)">
            {{ quote }}
        </app-quote>
    </div>
</template>

<script>
    import { eventBus } from '../main';
    import Quote from './Quote.vue';
    export default {
        props: ['quotesArray'],

        components: {
            appQuote: Quote
        },

        methods: {
            removeQuote(index) {
                this.quotesArray.splice(index, 1);
                console.log("Removed!");
                // let data = this.quotesArray.length < 10 ? true : false;
                eventBus.$emit('quotesExceeded', true);
            }
        }
    }
</script>

<style scoped>
</style>

