<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-header
                    :quotesCount="quotesCount"
                    :maxQuotes= "maxQuotes">
                </app-header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <app-new
                    :quotesArray="quotesArray"
                    :maxQuotes="maxQuotes">
                </app-new>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <app-collection :quotesArray="quotesArray">
                </app-collection>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-info ">
                <strong>Info!</strong> Click on a Quote to delete it
            </div>
        </div>
    </div>
</template>

<script>
    import Header from './components/Header.vue';
    import Quote from './components/Quote.vue';
    import New from './components/New.vue';
    import QuotesCollection from './components/QuotesCollection.vue';
    export default {
        data: function() {
            return {
                quotesArray : [
                    "A penny saved is a penny earned",
                    "Love is a serious mental disease.",
                    "Never trust a computer you can’t throw out a window.",
                    "You are the average of the five people you spend the most time with.",
                    "...if you aren't, at any given time, scandalized by code you wrote five or even three years ago, you're not learning anywhere near enough",
                    "Meditation brings wisdom; lack of meditation leaves ignorance. Know well what leads you forward and what holds you back.",
                    "Holding on to anger is like grasping a hot coal with the intent of throwing it at someone else; you are the one who gets burned.",
                ],
                maxQuotes: 10,
            };
        },
        computed: {
            quotesCount: function (){
                return this.quotesArray.length
            }
        },
        components: {
            appHeader: Header,
            appQuote: Quote,
            appNew: New,
            appCollection: QuotesCollection
        },
        watch: {
            quotesArray: function(value){

            }
        }
    }
</script>

<style>
</style>
